* {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background-color: #fff;
}

.sidebar_container {
  display: flex;
  position: relative;
}

.sidebar_container .sidebar {
  background-color: #ccc;
  position: fixed;
  right: 20px;
  height: 95%;
  width: 250px;
}

.sidebar_container .sidebar h1 {
  color: black;
  text-align: center;
  margin-top: 10px;
}

.sidebar_container .sidebar ul li {
  font-size: 28px;
  padding: 10px;
  border-bottom: 1px solid #fff;
  float: right;
  width: 100%; /* إضافة عرض كامل */
}

.sidebar_container .sidebar ul li a {
  display: flex; /* تغيير العرض إلى flex */
  align-items: center; /* محاذاة العناصر عموديًا */
  justify-content: flex-end; /* محاذاة العناصر لليمين */
  padding: 10px;
  color: black;
  text-decoration: none;
  gap: 15px; /* إضافة مسافة بين العناصر */
}

.sidebar_container .sidebar ul li i {
  margin-left: 0; /* إزالة الهامش الأيسر */
  color: black;
  font-size: 20px; /* تعديل حجم الأيقونة */
}

.sidebar_container .sidebar ul li a:hover {
  background-color: rgb(161, 159, 163);
  color: red;
}

.sidebar_container .content_sec {
  width: 70%;
  margin-left: 40px;
  padding: 20px;
}

.sidebar_container .content_sec label {
  display: block;
  margin-bottom: 5px;
  font-size: 40px;
  margin-right: 40px;
  text-align: right;
}

.sidebar_container .content_sec input {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.sidebar_container .content_sec .add {
  background-color: #007bff;
  border: none;
  padding: 15px 30px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  border-radius: 4px;
}

.sidebar_container .content_sec .add:hover {
  background-color: #0056b3;
}

.sidebar_container .content_sec table {
  background-color: #fff;
  width: 100%;
  border-collapse: collapse;
}

.sidebar_container .content_sec table th,
td {
  font-size: 22px;
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
}

.sidebar_container .content_sec table th {
  background-color: #f0f0f0;
}

.sidebar_container .content_sec table .delete {
  color: white;
  font-size: 18px;
  background-color: rgb(182, 48, 48);
  padding: 8px 18px;
  border-radius: 2px;
  border: 1px solid red;
  margin-right: 5px;
}

.sidebar_container .content_sec table .delete:hover {
  background-color: rgb(37, 1, 1);
  color: white;
}

.sidebar_container .content_sec table .update {
  color: white;
  font-size: 18px;
  background-color: rgb(3, 228, 100);
  padding: 8px 18px;
  border-radius: 2px;
  border: 1px solid rgb(154, 240, 182);
  margin-right: 5px;
}

.update:hover {
  background-color: rgb(8, 94, 23);
  color: white;
}

/* start add product */

.form_product {
  width: 70%;

  margin: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}

h1 {
  padding: 10px;
}

label {
  display: block;
  margin-button: 5px;
  font-size: 25px;
}
input {
  width: 90%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.button {
  width: 90%;
  padding: 10px;
  margin-bottom: 30px;
  background-color: #007bff;
  border: none;
  cursor: pointer;
  font-size: 28px;
}

.button:hover {
  background-color: #011c38;
  color: white;
}

#from_control {
  width: 90%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.sidebar_container .content_sec table img {
  width: 50px;
  height: 50px;
}
/* end add product */
